# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
tmp/
out-tsc/
bazel-out/

# IDE & Editor
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
*.ngfactory
*.ngstyle
.angular/cache
.angular/
*.spec.ts
*.ngsummary.json

# System Files
.DS_Store
Thumbs.db
